[submodule "ljclang"]
	path = ljclang
	url = https://github.com/helixhorned/ljclang
[submodule "libremarkable"]
	path = libremarkable
	url = https://github.com/canselcik/libremarkable.git
	shallow = true
[submodule "moonglow"]
	path = moonglow
	url = https://github.com/helixhorned/moonglow
