[submodule "ljclang"]
	path = ljclang
	url = https://github.com/helixhorned/ljclang
[submodule "libremarkable"]
	path = libremarkable
	url = https://github.com/canselcik/libremarkable.git
	shallow = true
[submodule "moonglow"]
	path = moonglow
	url = https://github.com/helixhorned/moonglow
[submodule "src/interpose"]
	path = src/interpose
	url = https://github.com/helixhorned/interpose.git
[submodule "fonts/quicksand"]
	path = fonts/quicksand
	url = https://github.com/andrew-paglinawan/QuicksandFamily.git
